{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

{{ range  $.Params.js }}
<script src="{{ . }}"></script>
{{ end }}


<div id="hero" class="wrap">
  <h2>{{.Title }}</h2>
</div>
<ul id="posts">
  Working example showing counts by Country for all loaded samples in GEOME
  <canvas id="chart" height="400px;"></canvas>

</ul>

<script>
  dashboard = new Dashboard();
  dashboard.initTestChart();
</script>

{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
