{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main" }}

{{ range  $.Params.css }}
<link rel="stylesheet" href="{{ . }}" | relURL/>
{{ end }}

<body onload="fetchProjects()">
	<div id="hero" class="wrap">
		<h2>{{.Title }}</h2>
			{{ .Content }}

			<div id="table-container">
			<table id="projects-display">
				<tr class="no-background">
					<th></th>
					<th>Project Title</th>
					<th>Principal Investigator</th>
					<th>Principal Investigator Affiliation</th>
				</tr>
			</table>
			</div>
	</div>

	<!-- Do not delete or uncomment below, I might need this later. 
	Currently the projects page is pulling from static/js/projects.js -->

<!-- <ul>
  {{ $urlPre := "https://api.geome-db.org" }} -->
  <!-- Note: insert random string at end of request to force getting fresh data each time -->
  <!-- {{ $projects := getJSON $urlPre "/projects/stats?" }} <script> Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);</script>

  <dl>
  {{ range $projects }} -->
	<!-- 45 is the Amphibian Disease Portal TEAM configuration ID. Any project created as part of this 
	team will be retrieved using this identifier.  Note that the /project/stats script above fetches
	all projects from GEOME. There is probably a more elegant way to do this with GO -->
	<!-- {{ if eq (int .projectConfiguration.id) 45 }}
    		<dt><a href="{{ .projectTitle}}">{{ htmlUnescape .projectTitle }} </a>{{ if .principalInvestigator}} ({{ .principalInvestigator}}, {{ .principalInvestigatorAffiliation}}) {{ end }} </dt>
        	{{ if .description }}<dd><i>Abstract</i>: {{ .description}} </dd>{{ end }}
        	{{ if .principalInvestigator}}<dd><i>Principal Investigator</i>: {{ .principalInvestigator}} </dd>{{ end }}
        	{{ if .principalInvestigatorAffiliation}}<dd><i>Principal Investigator Affiliation</i>: {{ .principalInvestigatorAffiliation}} </dd>{{ end }}
        	{{ if .projectContact}}<dd><i>Project Contact</i>: {{ .projectContact}} </dd>{{ end }}
        	{{ if .projectContactEmail}}<dd><i>Project Contact Email</i>: {{ .projectContactEmail}} </dd>{{ end }}
        	{{ if .publicationGuid }}<dd><i>Publication GUID</i>: {{ .publicationGuid }} </dd>{{ end }}
        	{{ if .projectDataGuid}}<dd><i>Project Data GUID</i>: {{ .projectDataGuid}} </dd>{{ end }}
		<p></p>
    	{{ end }}
    {{ end }}
  </dl> -->


{{ range  $.Params.js }}
	<script type="text/javascript" src="{{ . }}"></script>
{{ end }}

</body>

{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}