/* HEADER */

/* FOOTER */
/* .footer-learn-more, .footer-additional, .footer-contact-links, .copyright {
  border: 2px solid red;
} */


/* QUERY PAGE MAP */
#mapid {
  height:600px;
  width: 100%
}
