#table-container {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    /* border: 2px solid red; */
}

td, th, tr {
    padding: 10px;
}

.fa-globe {
    float: right;
}

/* When hovered over this element, will display no background color*/
.no-background:hover {
    background-color: white;
}

tr:hover {
    background-color: lightgrey;
}
