
/* SEARCH BAR */
#search-container {
  /* border: 2px solid red; */
  margin: 20px;
}

#searchbar {
  border: 2px solid grey;
  border-radius: 25px;
  padding: 30px;
  margin: auto;
  width: 50%;
}

.radio-btn {
  margin: 10px;
}

/* Highlights partial term searches*/
.hl {
  background-color: rgb(175,228,245);
}


/* ALL PROJECTS TABLE */
#table-container {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    /* border: 2px solid red; */
}

td, th, tr {
    padding: 10px;
}

#pubglobe {
    float: right;
}

/* When hovered over this element, will display no background color*/
.no-background:hover {
    background-color: white;
}

tr:hover {
    background-color: rgb(238,238,238);
}

/* INDIVIDUAL PROJECT DIV */
#detail-container {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

/* INDIVIDUAL PROJECT BUTTONS*/
#btns {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

#back-btn {
  width:100%;  
  margin-top: 10px;
  background-color: grey;
}

#download-btn, #view-btn, #data-btn {
    margin: 5px;
    margin-top: 20px;
}