  <footer id="footer">
    <nav>
      <div class="footer-learn-more">
        <ul> Learn More
          <li><a href="#">About</a></li>
          <li><a href="#">Policies</a></li>
        </ul>
      </div>
      <div class="footer-additional">
        <ul> Additional Resources
          <li><a href="http://updates.amphibiandisease.org/">Blog</a></li>
          <li><a href="https://amphibiaweb.org/">AmphibiaWeb</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Browse Project Data</a></li>
        </ul>
      </div>
      <div class="footer-contact-links">
        <ul> Contact
          <li><a href="mailto:amphibiaweb.berkeley.edu">Email</a></li>
          <li><a href="https://github.com/BNHM/AmphibiaWebDiseasePortal">GitHub</a></li>
          <li><a href="#">Report an Issue</a></li>
        </ul>
      </div>
      <div class="copyright">
        <img src="/media/AmphibianDisease_logo_v1_rect.png" height="50px" width="50px"> 
      © 2015 – 2020 AmphibiaWeb's Amphibian Disease Portal
      </div>
    </nav>
  </footer>
