<footer id="footer">
  <nav class="row">
    <div class="footer-learn-more column">
      <ul> 
        <li><span>Learn More</span></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/data-use-policy">Data Use Policy</a></li>
      </ul>
    </div>
    <div class="footer-additional column">
      <ul> 
        <li><span>Additional Resources</span></li>
        <li><a href="https://amphibiaweb.org/">AmphibiaWeb</a></li>
        <li><a href="https://geome-db.org/">GEOME</a></li>
      </ul>
    </div>
    
    <div class="footer-developers column">
      <ul> 
        <li><span>For Developers</span></li>
        <li><a href="https://github.com/BNHM/AmphibiaWebDiseasePortal">GitHub</a></li>
        <li><a href="https://amphibian-disease-tracker.readthedocs.io/en/latest/">Documentation</a></li>
      </ul>
    </div>
    <div class="footer-contact column">
      <ul> 
        <li><span>Contact</span></li>
        <li><a href="mailto:amphibiaweb@berkeley.edu">Email</a></li>
        <li><a href="https://github.com/BNHM/AmphibiaWebDiseasePortal/issues/new">Report an Issue</a></li>
      </ul>
    </div>
  </nav>

  <div class="footer-logo">
    <a href="/"><img src="/img/AmphibianDisease_logo_v1_rect.png" height="60px" width="60px"></a> <br>
  © 2015 – 2020 AmphibiaWeb's Amphibian Disease Portal
</div>



</footer>