<footer id="footer">
  <nav>
    <div class="footer-learn-more">
      <ul> 
        <li><span>Learn More</span></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/data-use-policy">Data Use Policy</a></li>
      </ul>
    </div>
    <div class="footer-additional">
      <ul> 
        <li><span>Additional Resources</span></li>
        <li><a href="https://amphibiaweb.org/">AmphibiaWeb</a></li>
        <li><a href="https://amphibian-disease-tracker.readthedocs.io/en/latest/">Documentation</a></li>
      </ul>
    </div>
    <div class="footer-contact-links">
      <ul> 
        <li><span>Contact</span></li>
        <li><a href="mailto:amphibiaweb.berkeley.edu">Email</a></li>
        <li><a href="https://github.com/BNHM/AmphibiaWebDiseasePortal">GitHub</a></li>
        <li><a href="#">Report an Issue</a></li>
      </ul>
    </div>

      <img src="/img/AmphibianDisease_logo_v1_rect.png" height="50px" width="50px"> 
    © 2015 – 2020 AmphibiaWeb's Amphibian Disease Portal
  
  </nav>
</footer>

<!-- <footer id="footer">
    <nav>
      <ul>
        <li><span>Amphibian Disease Portal</span></li>
        <li>
          <a href="/company/">AmphibiaWeb</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="/docs/">Docs</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
  </footer> -->