<footer id="footer">
  <nav class="row">

    <div class="footer-links">
      <ul>
        <li><span style="color:#48ABD7; font-weight: bolder; font-size: 14px;">Learn More</span></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/data-use-policy">Data Use Policy</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <ul> 
        <li><span style="color:#48ABD7; font-weight: bolder; font-size: 14px;">Additional Resources</span></li>
        <li><a href="https://amphibiaweb.org/">AmphibiaWeb</a></li>
        <li><a href="https://geome-db.org/">GEOME</a></li>
      </ul>
    </div>
    
    <div class="footer-links">
      <ul> 
        <li><span style="color:#48ABD7; font-weight: bolder; font-size: 14px;">For Developers</span></li>
        <li><a href="https://github.com/BNHM/AmphibiaWebDiseasePortal">GitHub</a></li>
        <li><a href="https://amphibian-disease-tracker.readthedocs.io/en/latest/">Documentation</a></li>
      </ul>
    </div>
    
    <div class="footer-links">
      <ul> 
        <li><span style="color:#48ABD7; font-weight: bolder; font-size: 14px;">Contact</span></li>
        <li><a href="mailto:amphibiaweb@berkeley.edu">Email</a></li>
        <li><a href="https://github.com/BNHM/AmphibiaWebDiseasePortal/issues/new">Report an Issue</a></li>
      </ul>
    </div>
  </nav>
    <nav class="row">
      <a href="/"><img src="/img/AmphibianDisease_logo_v1_rect.png" height="70px" width="70px"></a> <br>
      <p style="margin: auto;">© 2015 – 2020 AmphibiaWeb's Amphibian Disease Portal</p>
  </nav>

</footer>