{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

{{ range  $.Params.js }}
<script src="{{ . }}"></script>
{{ end }}
{{ range  $.Params.css }}
<script src="{{ . }}"></script>
{{ end }}

<div id="hero" class="wrap">
  <h2>{{.Title }}</h2>
  {{ .Content }}
</div>

<ul id="posts">
  <form id="dashboardForm"></form>
  <canvas id="dashboardChart" height="400px;"></canvas>
</ul>

<script>
  dashboard = new Dashboard();
</script>

{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
