{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

{{ range  $.Params.js }}
<script src="{{ . }}"></script>
{{ end }}
{{ range  $.Params.css }}
<link rel="stylesheet" href="{{ . }}" | relURL/>
{{ end }}

<div id="hero" class="wrap">
  <h2>{{.Title }}</h2>
  {{ .Content }}

  <div id="dash-form-container">
    <form id="dashboardForm"></form>
    <form id="project-dash"></form>
  </div>
   <div id="chart-container">
    <canvas id="dashboardChart"></canvas>
   </div>  
</div>


<script>
  dashboard = new Dashboard();
</script>

{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
